

module App.Modules.<ModuleName> {
    
    export class <ModuleName>Service {

        static $inject : string[] = [ ];
        
        constructor(){}

    }

    <moduleN>Module.service( '<ModuleName>Service', <ModuleName>Service );
}