<div class="ibox">
    <div class="ibox-title">
        <h2>
            {{ '01_EDIT_PROFILE' | translate }}
            <small>Fields with <span class="text-danger">(*)</span> are required for payout.</small>
        </h2>
    </div>
    <div class="ibox-content" ng-class="{'sk-loading' : editProfileCtrl.isLoading}">
            <div class="sk-spinner sk-spinner-double-bounce">
                    <div class="sk-double-bounce1"></div>
                    <div class="sk-double-bounce2"></div>
                </div>
                <form-error error-bags="editProfileCtrl.errorBags"></form-error>
                <form class="form-horizontal p-xl">
                   
                    <div class="form-group required">
                        <label class="col-sm-2">{{"ACCOUNT_TYPE" | translate}}: </label> 
                        <div class="col-md-10">
                            <div class="col-md-12 input-group date">
                                <select ng-model="editProfileCtrl.account.legal_entity.type" class="form-control">
                                    <option value="individual">{{"INDIVIDUAL" | translate}}</option>
                                    <option value="company">{{"BUSINESS" | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
            
                    <div ng-if="editProfileCtrl.account.legal_entity.type == 'company'">
                            <div class="hr-line-dashed m-t-md m-b-lg"></div>
                            
                            <div class="form-group required">
                                <label class="col-sm-2">{{"BUSINESS_NAME" | translate}}:</label> 
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="{{'BUSINESS_NAME' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.business_name">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2">{{"BUSINESS_TAX_ID" | translate}}:</label> 
                                <div class="col-sm-10">
                                    <input class="form-control"  placeholder="{{'BUSINESS_TAX_ID' | translate}}" type="text" ng-model="editProfileCtrl.user.business_tax_id">
                                </div>
                            </div>
                    
                            <div class="hr-line-dashed m-t-lg m-b-lg"></div>
                    
                            <div class="form-group required">
                                    <label class="col-sm-2">{{"BUSINESS_CITY" | translate}}:</label> 
                                    <div class="col-sm-10">
                                        <input class="form-control" placeholder="{{'BUSINESS_CITY' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.address.city">
                                    </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2">{{"BUSINESS_STREET" | translate}}/{{"ADDRESS" | translate}}:</label> 
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="{{'BUSINESS_STREET' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.address.line1">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2">{{"BUSSINESS_POSTAL_CODE" | translate}}:</label> 
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="{{'BUSSINESS_POSTAL_CODE' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.address.postal_code">
                                </div>
                            </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
                    
            
                    <div class="form-group required">
                        <label for="" class="col-sm-2"> <span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span> {{ '01_FIRSTNAME' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="editProfileCtrl.user.firstname">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="" class="col-sm-2"> <span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span>  {{ '01_LASTNAME' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="editProfileCtrl.user.lastname">
                        </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
            
                    <div class="form-group required">
                        <label class="col-sm-2 "><span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span>  {{"DATE_OF_BIRTH" | translate}}:</label> 
                        <div class="col-xs-3 no-padding-right">
                                <input ng-disabled="editProfileCtrl.account.payouts_enabled" class="form-control" placeholder="DD" type="text" ng-model="editProfileCtrl.account.legal_entity.dob.day">
                            </div>
                        <div class="col-xs-3 no-padding">
                            <input ng-disabled="editProfileCtrl.account.payouts_enabled" class="form-control" placeholder="MM" type="text" ng-model="editProfileCtrl.account.legal_entity.dob.month">
                        </div>
                        <div class="col-xs-4 no-padding">
                            <input ng-disabled="editProfileCtrl.account.payouts_enabled" class="form-control" placeholder="YYYY" type="text" ng-model="editProfileCtrl.account.legal_entity.dob.year">
                        </div>
                    </div>       
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
            
                    <div class="form-group ">
                        <label for="" class="col-sm-2"><span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span>  {{ '01_STREET' | translate }}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="editProfileCtrl.user.street">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="" class="col-sm-2" ><span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span>  {{ '01_ZIP' | translate }}</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="editProfileCtrl.user.zip">
                        </div>
                        <label for="" class="col-sm-2 col-sm-offset-1"><span ng-if="editProfileCtrl.account.legal_entity.type == 'company'">{{"OWNER" | translate}}</span>  {{ '01_CITY' | translate }}</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  ng-model="editProfileCtrl.user.city">
                        </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
            
                    <div class="form-group">
                        <label for="" class="col-sm-2 col-xs-12">{{'01_MOBILE' | translate }}</label>
                        <div class="col-sm-5  col-xs-10 col-lg-4 col-md-4">
                            <input ng-change="editProfileCtrl.mobileOnChange( editProfileCtrl.mobile )" ng-disabled="editProfileCtrl.showVerificationCode" type="text" class="form-control"  ng-model="editProfileCtrl.mobile">
                        </div>
                        <li class="col-sm-1  col-xs-2 col-lg-1 check-icon-input" ng-class="{ 'fa fa-check text-info fa-2x' : user.mobile_verified, 'fa fa-times text-danger fa-2x' : user.mobile && !user.mobile_verified }"></li>
                        <div class="col-xs-10 col-sm-4 col-md-2 verification-input" ng-if="editProfileCtrl.showVerificationCode">
                            <input type="text" class="form-control"  ng-model="editProfileCtrl.mobile_verification_code" placeholder="Code">
                        </div>
                        <div class="col-sm-3 col-xs-10 verify-btn-input">
                            <button ng-if="!editProfileCtrl.showVerificationCode && !user.mobile_verified" promise-btn ng-click="editProfileCtrl.sendVerification( editProfileCtrl.mobile )" class="btn-primary btn verify-btn-input" ng-disabled="!editProfileCtrl.mobile">{{ '01_SEND_VERIFY_BTN' | translate }}</button>
                            <button ng-if="editProfileCtrl.showVerificationCode" promise-btn ng-click="editProfileCtrl.reset( editProfileCtrl.mobile, editProfileCtrl.mobile_verification_code )" class="btn-danger btn verify-btn-input m-l-md">{{ '01_RESET' | translate }}</button>
                            <button ng-if="editProfileCtrl.showVerificationCode" promise-btn ng-click="editProfileCtrl.verify( editProfileCtrl.mobile, editProfileCtrl.mobile_verification_code )" class="btn-primary btn verify-btn-input" ng-disabled="!editProfileCtrl.mobile_verification_code">{{ '01_VERIFY_BTN' | translate }}</button>
                        </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
            
                    <div class="form-group required">
                        <label for="" class="col-sm-2 col-xs-12">{{ '01_EMAIL' | translate }}</label>
                        <div class="col-sm-4  col-xs-10">
                            <input type="text" class="form-control"  ng-model="editProfileCtrl.user.email" disabled>
                        </div>
                        <li class="  col-xs-2 fa fa-check text-info fa-2x check-icon-input m-t-xs" ng-if="editProfileCtrl.user.email_verified"></li>
                        <li class="  col-xs-2 fa fa-times text-danger fa-2x check-icon-input m-t-xs" ng-if="!user.email_verified"></li>
                        <div class="col-sm-4 col-xs-12">
                            <button class="btn-primary btn verify-btn-input" ng-if="!user.email_verified" ng-click="editProfileCtrl.sendUserEmailVerification()" promise-btn>{{ '01_SEND_EMAIL_VERIFY_BTN' | translate }}</button>
                        </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-md m-b-md"></div>
            
                    <div class="form-group">
                        <label for="" class="col-sm-2 col-xs-2">{{'01_IMAGE' | translate }}</label>
                        <div class="col-sm-2 col-xs-4">
                            <button 
                                ngf-select
                                ngf-pattern="'image/*'"
                                ngf-accept="'image/*'"
                                ngf-resize="{width: 140, height: 140}"
                                ng-model="editProfileCtrl.profile_picture"
                                name="file"
                                class="btn btn-primary">{{ '01_UPLOAD_BTN' | translate }}</button>
                        </div>
                        <div class="profile-picture-container col-sm-8 col-xs-6">
                            <img ng-show="editProfileCtrl.profile_picture" ngf-thumbnail="editProfileCtrl.profile_picture"  width="140" height="140" alt="Profile Picture">
                        </div>
                    </div>
            
                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
                    
                    <div class="form-group">
                        <label for="" class="col-sm-2">{{ '01_ABOUT_ME' | translate }}</label>
                        <div class="col-sm-10">
                            <textarea name="" id="" class="form-control" cols="30" rows="10" ng-model="editProfileCtrl.user.about_me"></textarea>
                        </div>
                    </div>
            
                    <div ng-if="editProfileCtrl.account.legal_entity.type == 'company'">
                            
                                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
                            
                                    <div class="form-group required">
                                            <label class="col-sm-2">{{"ADDITIONAL_OWNER_FIRSTNAME" | translate}}:</label> 
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="{{'ADDITIONAL_OWNER_FIRSTNAME' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.first_name">
                                            </div>
                                    </div>
                                    <div class="form-group required">
                                            <label class="col-sm-2">{{"ADDITIONAL_OWNER_LASTNAME" | translate}}:</label> 
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="{{'ADDITIONAL_OWNER_LASTNAME' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.last_name">
                                            </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2  ">{{"ADDITIONAL_OWNER_DATE_OF_BIRTH" | translate}}:</label> 
                                        <div class="col-sm-3 no-padding m-l-md">
                                            <input class="form-control" placeholder="DD" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.dob.day">
                                        </div>
                                        <div class="col-sm-3 no-padding ">
                                            <input class="form-control" placeholder="MM" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.dob.month">
                                        </div>
                                        <div class="col-sm-3 no-padding">
                                            <input class="form-control" placeholder="YYYY" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.dob.year">
                                        </div>
                                    </div>
                            
                                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
                            
                                    <div class="form-group required">
                                            <label class="col-sm-2">{{"CO_OWNER_CITY" | translate}}:</label> 
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="{{'CO_OWNER_CITY' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.address.city">
                                            </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2">{{"CO_OWNER_STREET" | translate}}/{{"ADDRESS" | translate}}:</label> 
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="{{'CO_OWNER_STREET' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.address.line1">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2">{{"CO_OWNER_POSTAL_CODE" | translate}}:</label> 
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="{{'CO_OWNER_POSTAL_CODE' | translate}}" type="text" ng-model="editProfileCtrl.account.legal_entity.additional_owners.address.postal_code">
                                        </div>
                                    </div>
            
                                    <div class="hr-line-dashed m-t-lg m-b-lg"></div>
            
                                    
                    </div>
                    <!-- <div class="form-group required" ng-if="editProfileCtrl.account.legal_entity.type == 'company'">
                        <label class="col-sm-2">{{"LEGAL_DOCUMENT" | translate}}</label> 
                        <div class="col-sm-10" ng-if="editProfileCtrl.account.legal_entity.additional_owners.verification.document">
                            <i>{{editProfileCtrl.account.legal_entity.additional_owners.verification.document}}</i>
                        </div>
                        <div class="col-sm-10" >
                            <input class="no-padding col-xs-4" type="file" ng-model="document_ao" fileread="document_ao" onchange="angular.element(this).scope().uploadAoDocument(this)">
                            <div ng-if="editProfileCtrl.isDocumentUploading" class="col-sm-1 no-padding"><span class="fa fa-spinner fa-spin"></span></div>
                        </div>
                    </div>
                    <div class="form-group required" ng-if="editProfileCtrl.account.legal_entity.type == 'individual'">
                        <label class="col-sm-2">{{"LEGAL_DOCUMENT" | translate}}</label> 
                        <div class="col-sm-10" ng-if="editProfileCtrl.account.legal_entity.verification.document">
                            <i>{{editProfileCtrl.account.legal_entity.verification.document}}</i>
                        </div>
                        <div class="col-sm-10" >
                            <input class="no-padding col-xs-4" type="file" ng-model="document" fileread="document" onchange="angular.element(this).scope().uploadDocument(this)">
                            <div  ng-if="editProfileCtrl.isDocumentUploading" class="col-sm-1 no-padding"><span class="fa fa-spinner fa-spin"></span></div>
                        </div>
                    </div> -->
            
            
                    <div class="m-t-xl">
                        <button ng-disabled="editProfileCtrl.isDocumentUploading" class="btn btn-sm btn-primary pull-right m-t-n-xs" promise-btn ng-click="editProfileCtrl.edit( editProfileCtrl.user, editProfileCtrl.account )">
                            <strong>{{'01_SAVE_BTN' | translate }}</strong>
                        </button>
                    </div>
                </form>
    </div>
</div>

<!-- <div class="mail-box-header account-header">
    <h2>
        {{ '01_EDIT_PROFILE' | translate }}
    </h2>
    <small>Fields with <span class="text-danger">(*)</span> are required for payout.</small>
    
</div>
<div class="mail-box" ng-class="{'sk-loading' : editProfileCtrl.isLoading}" >
  

</div> -->