<div class="inmodal">
        <ng-include src="requestCtrl.headerTplUrl"></ng-include>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">
                        {{"REQUEST_LOGIN_NOTICE" | translate}} <a ng-click="requestCtrl.openLogin()">login in</a> here. If you don't have an account you can 
                        <a ng-click="requestCtrl.gotoSignUp()">{{"01_SIGN_UP_02" | translate}}</a> {{"REQUEST_LOGIN_NOTICE_02" | translate}}.
                    </p>
                    <div class="m-t-md col-xs-9 col-xs-offset-2 col-sm-10">
                        <div class="col-xs-6 col-sm-6">
                            <button class="btn btn-primary" ng-click="requestCtrl.openLogin()">{{"01_SIGN_IN" | translate}}</button>
                        </div>
                        <div class="col-xs-6">
                            <button ng-click="requestCtrl.gotoSignUp()" class="btn btn-primary">{{"01_SIGN_UP" | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="requestCtrl.cancel()">{{"01_CLOSE_BTN" | translate}}</button>
        </div>
    </div>
    
    