<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">{{ '01_FORGOT_PASSWORD' | translate }}</h2>
                <p>
                    {{ '01_FORGOT_PASSWORD_TEXT' | translate }}
                </p>
                <form-error error-bags="forgotPasswordCtrl.errorBags"></form-error>
                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address" required="" ng-model="email" >
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b" promise-btn ng-click="forgotPasswordCtrl.forgotPassword( email )">{{ '01_SUBMIT_BTN' | translate }}</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            {{ AppName }}
        </div>
        <div class="col-md-6 text-right">
            <small>© 2017-2020</small>
        </div>
    </div>
</div>