<div class="row "  > 
    <nav class="navbar navbar-default navbar-static-top col-lg-12" role="navigation" ng-class="{ 'transparent-header' : $state.includes('main.home') }">
        <div class="container container col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main.home">
                        <img ng-src="../../../../img/latell_logo.png" alt="Latell Logo">
                </a>
            </div>
             <div id="navbar" class="navbar-collapse collapse small-screen">
                <ul class="nav navbar-nav navbar-right m-r-none">
                    <li ng-class="{active: $state.includes('main.admin')}" permission permission-only="'admin'"><div class="nav-indicator"></div><a  data-toggle="collapse" data-target="#navbar" class="page-scroll" class="page-scroll" ui-sref="main.admin.admin_user">{{ '01_ADMIN' | translate }}</a></li>
                    <li uib-dropdown="" class="dropdown">
                        <a class="count-info dropdown-toggle" href="" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            {{ '01_LANGUAGE' | translate }}
                        </a>
                        <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs ng-scope dropdown-menu">
                            <li><a ng-click="mainCtrl.changeLanguage('en')">English</a></li>
                             <li><a ng-click="mainCtrl.changeLanguage('no')">{{"NORWEGIAN" | translate}}</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active"><div class="nav-indicator"></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" ui-sref="main.home">{{ '01_HOME' | translate }}</a></li>
                    <li ><div class="nav-indicator"></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" page-scroll="" href="#features">{{ '01_FIND_STORAGE' | translate  }}</a></li>
                    
                    <li ng-class="{'active' : mainCtrl.$state.params.name == page.name}" ng-repeat="page in mainCtrl.pages"><div class="nav-indicator" ></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" page-scroll="" ui-sref="main.cms_page({name : page.name})">{{ page.name | translate }}</a></li>

                    <li ui-sref-active="active"><div class="nav-indicator"></div><a class="page-scroll" page-scroll="" ui-sref="main.contact_us">{{ 'CONTACT_US' | translate  }}</a></li>

                    <li ui-sref-active="active"><div data-toggle="collapse" data-target="#navbar" class="nav-indicator"></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" page-scroll="" ui-sref="main.register">{{ '01_CREATE_PROFILE' | translate }}</a></li>
                    <li ui-sref-active="active"><div data-toggle="collapse" data-target="#navbar" class="nav-indicator"></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" page-scroll=""  ui-sref="main.login">{{ '02_SIGN_IN' | translate }}</a></li>
                </ul>
            </div> 
            <div id="navbar" class="navbar-collapse collapse large-screen">
                <ul class="nav navbar-nav navbar-right m-r-none">
                    <li ng-class="{active: $state.includes('main.admin')}" permission permission-only="'admin'"><div class="nav-indicator"></div><a  class="page-scroll"  ui-sref="main.admin.admin_user">{{ '01_ADMIN' | translate }}</a></li>
                    <li uib-dropdown="" class="dropdown">
                        <a class="count-info dropdown-toggle" href="" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            {{ '01_LANGUAGE' | translate }}
                        </a>
                        <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs ng-scope dropdown-menu">
                            <li><a ng-click="mainCtrl.changeLanguage('en')">English</a></li>
                             <li><a ng-click="mainCtrl.changeLanguage('no')">{{"NORWEGIAN" | translate}}</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active"><div class="nav-indicator"></div><a  class="page-scroll" ui-sref="main.home">{{ '01_HOME' | translate }}</a></li>
                    <li ><div class="nav-indicator"></div><a  class="page-scroll" page-scroll="" href="#features">{{ '01_FIND_STORAGE' | translate  }}</a></li>

                    <li ng-class="{'active' : mainCtrl.$state.params.name == page.name}" ng-repeat="page in mainCtrl.pages"><div class="nav-indicator" ></div><a data-toggle="collapse" data-target="#navbar" class="page-scroll" page-scroll="" ui-sref="main.cms_page({name : page.name})">{{ page.name | translate }}</a></li>
                    
                    <li ui-sref-active="active"><div class="nav-indicator"></div><a class="page-scroll" page-scroll="" ui-sref="main.contact_us">{{ 'CONTACT_US' | translate  }}</a></li>

                    <li ui-sref-active="active"><div  class="nav-indicator"></div><a  class="page-scroll" page-scroll="" ui-sref="main.register">{{ '01_CREATE_PROFILE' | translate }}</a></li>
                    <li ui-sref-active="active"><div data-toggle="collapse" class="nav-indicator"></div><a class="page-scroll" page-scroll=""  ui-sref="main.login">{{ '02_SIGN_IN' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>