<div class="inmodal">
    <!-- <div class="modal-header">
        <button type="button" class="close" ng-click="ctrl.errorTokenExpiredClose()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-comment-o modal-icon"></i>
        <h4 class="modal-title">You have been logged out</h4>
        <small class="font-bold">Kindly login again</small>
    </div> -->
    <div class="modal-body">
        <div class="row">
            <h3 class="text-center">A profile image is important to create trust between users of {{AppName}}</h3>
            <div class="col-xs-6 col-xs-offset-3 col-md-9 col-md-offset-2 m-t-sm">
                <div>
                    <img ng-src="{{ctrl.default_profile}}"  width="140" height="140" alt="Profile Picture">
                </div>
                <div class="col-sm-4 col-xs-4 m-l-md m-t-sm">
                    <button 
                        ngf-select
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-resize="{width: 140, height: 140}"
                        ng-model="ctrl.profile_picture"
                        ngf-change="ctrl.upload(ctrl.profile_picture)"
                        ng-disabled="ctrl.isUploading"
                        name="file"
                        class="btn btn-primary">{{ '01_UPLOAD_BTN' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="ctrl.cancel()">{{"01_CLOSE_BTN" | translate}}</button>
    </div>
</div>

